In [1]:
import pandas as pd
import requests
import re
from instaloader import Instaloader, Profile

### Import season 12 episode placements to update spreadsheet

In [2]:
html_url = "https://en.wikipedia.org/wiki/RuPaul%27s_Drag_Race_(season_12)"

In [3]:
r = requests.get(html_url)
wiki_tables = pd.read_html(r.text, header=0)
type(wiki_tables)

list

In [4]:
len(wiki_tables)

22

In [5]:
print(wiki_tables[2])

            Contestant     1     2     3     4     5     6     7     8     9  \
0   Jaida Essence Hall   NaN   WIN  SAFE  HIGH  SAFE  SAFE  SAFE  HIGH   WIN
1           Gigi Goode  TOP2   NaN  SAFE   WIN  HIGH   WIN   WIN   LOW   LOW
2       Crystal Methyd  SAFE   NaN   LOW  SAFE  SAFE   LOW  HIGH  HIGH  HIGH
3           Sherry Pie   NaN  TOP2   WIN  SAFE   WIN  HIGH  SAFE   LOW  SAFE
4           Jackie Cox  HIGH   NaN  HIGH  SAFE  HIGH  HIGH   LOW  HIGH  BTM2
5       Heidi N Closet   LOW   NaN  HIGH  SAFE  BTM2  SAFE  BTM2   WIN  HIGH
6         Widow Von'Du   WIN   NaN  SAFE  SAFE  HIGH  SAFE  SAFE  BTM2  ELIM
7                  Jan   NaN  HIGH  SAFE  SAFE  HIGH  SAFE  HIGH  ELIM   NaN
8                Brita  HIGH   NaN  SAFE  BTM2   LOW  BTM2  ELIM   NaN   NaN
9          Aiden Zhane   NaN  HIGH  SAFE   LOW  HIGH  ELIM   NaN   NaN   NaN
10          Nicky Doll   LOW   NaN  BTM2  HIGH  ELIM   NaN   NaN   NaN   NaN
11      Rock M. Sakura   NaN   LOW  SAFE  ELIM   NaN   NaN   NaN   NaN   NaN
12          Dahlia Sin   NaN   LOW  ELIM   NaN   NaN   NaN   NaN   NaN   NaN

      10    11    12     13         14  Unnamed: 15
0    WIN  BTM2  HIGH  Guest     Winner          NaN
1   SAFE  SAFE   WIN  Guest  Runner-up          NaN
2   HIGH   WIN  BTM2  Guest  Runner-up          NaN
3   HIGH   LOW  DISQ    NaN        NaN          NaN
4   BTM2  HIGH  ELIM  Guest      Guest          NaN
5   BTM2  ELIM   NaN  Guest     Miss C          NaN
6    NaN   NaN   NaN  Guest      Guest          NaN
7    NaN   NaN   NaN  Guest      Guest          NaN
8    NaN   NaN   NaN  Guest      Guest          NaN
9    NaN   NaN   NaN  Guest      Guest          NaN
10   NaN   NaN   NaN  Guest      Guest          NaN
11   NaN   NaN   NaN  Guest      Guest          NaN
12   NaN   NaN   NaN  Guest      Guest          NaN

In [6]:
s12 = wiki_tables[2]

In [7]:
s12.head()

,Contestant,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Unnamed: 15
0,Jaida Essence Hall,NaN,WIN,SAFE,HIGH,SAFE,SAFE,SAFE,HIGH,WIN,WIN,BTM2,HIGH,Guest,Winner,NaN
1,Gigi Goode,TOP2,NaN,SAFE,WIN,HIGH,WIN,WIN,LOW,LOW,SAFE,SAFE,WIN,Guest,Runner-up,NaN
2,Crystal Methyd,SAFE,NaN,LOW,SAFE,SAFE,LOW,HIGH,HIGH,HIGH,HIGH,WIN,BTM2,Guest,Runner-up,NaN
3,Sherry Pie,NaN,TOP2,WIN,SAFE,WIN,HIGH,SAFE,LOW,SAFE,HIGH,LOW,DISQ,NaN,NaN,NaN
4,Jackie Cox,HIGH,NaN,HIGH,SAFE,HIGH,HIGH,LOW,HIGH,BTM2,BTM2,HIGH,ELIM,Guest,Guest,NaN

### Import existing contestant info spreadsheet

In [8]:
contestants = pd.read_csv("Copy of RuPaul-Predict-A-Looza — Data Tables - all_contestants.csv")

In [9]:
contestants.head()

,contestant_id,season_number,contestant_entrance,contestant_name,age,hometown_city,hometown_state,season_outcome,handle_instagram,handle_twitter
0,1,1,1,Shannel,29,Las Vegas,Nevada,4,theofficialshannel,ShannelOfficial
1,2,1,2,Nina Flowers,34,Bayamon,Puerto Rico,2,djninaflowers,DJNinaFlowers
2,3,1,3,Rebecca Glasscock,26,Fort Lauderdale,Florida,3,NaN,rebeccaglasscoc
3,4,1,4,Ongina,26,Los Angeles,California,5,ongina,ongina
4,5,1,5,Victoria Porkchop Parker,39,Raleigh,North Carolina,9,porkchopla,PorkChopLA ‏

### Rename column to match existing data

In [10]:
s12 = s12.rename(columns={"Contestant": "contestant_name"})

In [11]:
s12.head()

,contestant_name,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Unnamed: 15
0,Jaida Essence Hall,NaN,WIN,SAFE,HIGH,SAFE,SAFE,SAFE,HIGH,WIN,WIN,BTM2,HIGH,Guest,Winner,NaN
1,Gigi Goode,TOP2,NaN,SAFE,WIN,HIGH,WIN,WIN,LOW,LOW,SAFE,SAFE,WIN,Guest,Runner-up,NaN
2,Crystal Methyd,SAFE,NaN,LOW,SAFE,SAFE,LOW,HIGH,HIGH,HIGH,HIGH,WIN,BTM2,Guest,Runner-up,NaN
3,Sherry Pie,NaN,TOP2,WIN,SAFE,WIN,HIGH,SAFE,LOW,SAFE,HIGH,LOW,DISQ,NaN,NaN,NaN
4,Jackie Cox,HIGH,NaN,HIGH,SAFE,HIGH,HIGH,LOW,HIGH,BTM2,BTM2,HIGH,ELIM,Guest,Guest,NaN

### Import existing episode ranking spreadsheet

In [12]:
ep_rank = pd.read_csv("Copy of RuPaul-Predict-A-Looza — Data Tables - all_rankings.csv")

In [13]:
ep_rank.head()

   season_number  episode_number  contestant_id episode_placement
0              1               1              9              SAFE
1              1               1              2               WIN
2              1               1              3               LOW
3              1               1              1              SAFE
4              1               1              4              HIGH

In [14]:
ep_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season_number      1200 non-null   int64
 1   episode_number     1200 non-null   int64
 2   contestant_id      1200 non-null   int64
 3   episode_placement  1200 non-null   object
dtypes: int64(3), object(1)
memory usage: 37.6+ KB

### Merge to match contestant name to contestant id in existing ranking spreadsheet, add season number

In [15]:
merged = pd.merge(s12, contestants)
merged["season_number"] = "12"

In [16]:
merged.head()

,contestant_name,1,2,3,4,5,6,7,8,9,...,Unnamed: 15,contestant_id,season_number,contestant_entrance,age,hometown_city,hometown_state,season_outcome,handle_instagram,handle_twitter
0,Jaida Essence Hall,NaN,WIN,SAFE,HIGH,SAFE,SAFE,SAFE,HIGH,WIN,...,NaN,156,12,12,32,Milwaukee,Wisconsin,1,jaidaehall,jaidaehall
1,Gigi Goode,TOP2,NaN,SAFE,WIN,HIGH,WIN,WIN,LOW,LOW,...,NaN,150,12,6,21,Los Angeles,California,2,thegigigoode,thegigigoode
2,Crystal Methyd,SAFE,NaN,LOW,SAFE,SAFE,LOW,HIGH,HIGH,HIGH,...,NaN,151,12,7,28,Springfield,Missouri,2,crystalmethyd,crystalmethyd
3,Sherry Pie,NaN,TOP2,WIN,SAFE,WIN,HIGH,SAFE,LOW,SAFE,...,NaN,154,12,10,27,New York,New York,0,sherrypienyc,sherrypienyc
4,Jackie Cox,HIGH,NaN,HIGH,SAFE,HIGH,HIGH,LOW,HIGH,BTM2,...,NaN,148,12,4,34,New York,New York,5,jackiecoxnyc,jackiecoxnyc

### Filter to match columns in ranking spreadsheet

In [17]:
s12_rank = merged.filter(regex=r"\d|contestant_id|season_number", axis=1)

In [18]:
s12_rank.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,Unnamed: 15,contestant_id,season_number
0,NaN,WIN,SAFE,HIGH,SAFE,SAFE,SAFE,HIGH,WIN,WIN,BTM2,HIGH,Guest,Winner,NaN,156,12
1,TOP2,NaN,SAFE,WIN,HIGH,WIN,WIN,LOW,LOW,SAFE,SAFE,WIN,Guest,Runner-up,NaN,150,12
2,SAFE,NaN,LOW,SAFE,SAFE,LOW,HIGH,HIGH,HIGH,HIGH,WIN,BTM2,Guest,Runner-up,NaN,151,12
3,NaN,TOP2,WIN,SAFE,WIN,HIGH,SAFE,LOW,SAFE,HIGH,LOW,DISQ,NaN,NaN,NaN,154,12
4,HIGH,NaN,HIGH,SAFE,HIGH,HIGH,LOW,HIGH,BTM2,BTM2,HIGH,ELIM,Guest,Guest,NaN,148,12

### Melt to reformat to columns that match ranking spreadsheet

In [19]:
s12_rank = s12_rank.melt(["contestant_id", "season_number"], var_name="episode_number", value_name="episode_placement")
s12_rank.head()

   contestant_id season_number episode_number episode_placement
0            156            12              1               NaN
1            150            12              1              TOP2
2            151            12              1              SAFE
3            154            12              1               NaN
4            148            12              1              HIGH

In [20]:
s12_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contestant_id      195 non-null    int64
 1   season_number      195 non-null    object
 2   episode_number     195 non-null    object
 3   episode_placement  124 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.2+ KB

### Drop empty values in episode placement

In [21]:
s12_rank = s12_rank.dropna(subset=["episode_placement"]).reset_index(drop=True)
s12_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contestant_id      124 non-null    int64
 1   season_number      124 non-null    object
 2   episode_number     124 non-null    object
 3   episode_placement  124 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.0+ KB

### Format type to integers where possible to match spreadsheet

In [22]:
s12_rank = s12_rank.apply(pd.to_numeric, errors="ignore")

In [23]:
s12_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contestant_id      124 non-null    int64
 1   season_number      124 non-null    int64
 2   episode_number     124 non-null    int64
 3   episode_placement  124 non-null    object
dtypes: int64(3), object(1)
memory usage: 4.0+ KB

### Merge to add season 12 rankings to existing spreadsheet

In [24]:
dragrank_12 = pd.merge(s12_rank, ep_rank, how="outer")

In [25]:
dragrank_12.head()

   contestant_id  season_number  episode_number episode_placement
0            150             12               1              TOP2
1            151             12               1              SAFE
2            148             12               1              HIGH
3            149             12               1               LOW
4            147             12               1               WIN

In [26]:
dragrank_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1324 entries, 0 to 1323
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contestant_id      1324 non-null   int64
 1   season_number      1324 non-null   int64
 2   episode_number     1324 non-null   int64
 3   episode_placement  1324 non-null   object
dtypes: int64(3), object(1)
memory usage: 51.7+ KB

### Export updated spreadsheet

In [27]:
dragrank_12.to_csv("dragrank_to12.csv", index=False)

### Filter NY contestants

In [28]:
ny_contestants = contestants[contestants.hometown_state == "New York"].reset_index(drop=True)

In [29]:
ny_contestants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   contestant_id        33 non-null     int64
 1   season_number        33 non-null     int64
 2   contestant_entrance  33 non-null     int64
 3   contestant_name      33 non-null     object
 4   age                  33 non-null     int64
 5   hometown_city        33 non-null     object
 6   hometown_state       33 non-null     object
 7   season_outcome       33 non-null     int64
 8   handle_instagram     31 non-null     object
 9   handle_twitter       30 non-null     object
dtypes: int64(5), object(5)
memory usage: 2.7+ KB

In [30]:
ny_contestants.head()

,contestant_id,season_number,contestant_entrance,contestant_name,age,hometown_city,hometown_state,season_outcome,handle_instagram,handle_twitter
0,14,2,5,Sahara Davenport,25,New York,New York,7,NaN,NaN
1,20,2,11,Pandora Boxx,37,Rochester,New York,5,pandoraboxx,ThePandoraBoxx
2,25,3,4,Manila Luzon,28,New York,New York,2,manilaluzon,manilaluzon
3,32,3,11,Mimi Imfurst,27,New York,New York,11,mimiimfurst,NaN
4,37,4,3,Jiggly Caliente,30,Queens,New York,8,jigglycalienteofficial,JigglyCaliente

### Filter rankings to only NY contestants using contestant ids

In [31]:
ny_rank = dragrank_12[dragrank_12["contestant_id"].isin(ny_contestants.contestant_id)].reset_index(drop=True)

In [32]:
ny_rank.head()

   contestant_id  season_number  episode_number episode_placement
0            148             12               1              HIGH
1            145             12               1              HIGH
2            146             12               1               LOW
3            154             12               2              TOP2
4            155             12               2              HIGH

In [33]:
ny_rank.episode_placement.value_counts()

SAFE         82
HIGH         64
Guest        41
LOW          28
BTM2         26
ELIM         26
WIN          21
Winner        3
Runner-up     3
BTM6          2
Miss C        2
DISQ          1
OUT           1
TOP2          1
Name: episode_placement, dtype: int64

### Filter to placements that matter in point system

In [34]:
db_list = ["SAFE","HIGH","LOW","ELIM","BTM2","WIN","BTM6","TOP2"]

In [35]:
ny_rank_db = ny_rank[ny_rank["episode_placement"].isin(db_list)].reset_index()

### Replace placement with point system

In [36]:
ny_rank_db = ny_rank_db.replace(["WIN", "HIGH", "SAFE", "LOW", "BTM2", "ELIM", "TOP2", "BTM6"], [2, 1, 0, -1, -2, -2, 1.5, -2])

In [37]:
ny_rank_db.head()

   index  contestant_id  season_number  episode_number  episode_placement
0      0            148             12               1                1.0
1      1            145             12               1                1.0
2      2            146             12               1               -1.0
3      3            154             12               2                1.5
4      4            155             12               2                1.0

### Find NY contestant with best track record in points

In [38]:
ny_rank_db.groupby("contestant_id").episode_placement.sum().reset_index().sort_values("episode_placement", ascending=False).head(5)

    contestant_id  episode_placement
17            107                8.0
2              25                7.0
31            154                5.5
24            129                5.0
15             98                4.0

In [39]:
contestants.loc[contestants["contestant_id"] == 107, "contestant_name"]

106    Sasha Velour
Name: contestant_name, dtype: object

### Find season with the most NY contestants

In [40]:
contestants[contestants["hometown_state"] == "New York"].season_number.value_counts().reset_index().head(5)

   index  season_number
0     10              5
1     12              5
2      9              4
3      6              3
4      7              3

In [41]:
contestants.loc[(contestants["hometown_state"] == "New York") & (contestants["season_number"] == 12), "contestant_name"]

144         Brita
145    Nicky Doll
147    Jackie Cox
153    Sherry Pie
154           Jan
Name: contestant_name, dtype: object

In [42]:
contestants.loc[(contestants["hometown_state"] == "New York") & (contestants["season_number"] == 10), "contestant_name"]

117          Miz Cracker
118       Yuhua Hamasaki
120       Monét X Change
125    Dusty Ray Bottoms
128              Aquaria
Name: contestant_name, dtype: object

### Find lip sync assasssin (survived most BTM2)

In [43]:
ny_rank[ny_rank["episode_placement"] == "BTM2"].contestant_id.value_counts().reset_index().head(3)

   index  contestant_id
0     75              3
1    121              2
2     37              2

In [44]:
contestants.loc[contestants["contestant_id"] == 75, "contestant_name"]

74    Darienne Lake
Name: contestant_name, dtype: object

### Find the NY contestant with most followers on instagram

In [45]:
ny_insta = ny_contestants.loc[:, "handle_instagram"].copy()

def getFollowerCount(PROFILE):
    L = Instaloader()
    try:
        profile = Profile.from_username(L.context, PROFILE)
        print(PROFILE, 'has', profile.followers, 'followers')
        return(profile.followers)
    except Exception as exception :
        print(exception, False)
        return(0)

followerCounts = []
for handle in ny_insta:
    followerCounts.append(getFollowerCount(handle))

ny_insta = ny_insta.to_frame()
ny_insta["follower_count"] = pd.Series(followerCounts)

'float' object has no attribute 'lower' False
pandoraboxx has 358029 followers
manilaluzon has 1503122 followers
mimiimfurst has 62617 followers
jigglycalienteofficial has 179762 followers
'float' object has no attribute 'lower' False
viviennepinay has 28809 followers
vivaciousnyc has 130852 followers
bigandmilky has 937979 followers
dariennelake has 166493 followers
missfamenyc has 1103790 followers
mrskashadavis has 221953 followers
pearliaison has 1051870 followers
acidbetty has 351162 followers
thorgythor has 735283 followers
bobthedragqueen has 1486873 followers
peppermint247 has 684993 followers
sashavelour has 1842453 followers
alexislives has 214421 followers
ajathekween has 871402 followers
miz_cracker has 1185585 followers
yuhuahamasaki has 254186 followers
monetxchange has 1065627 followers
dustyray has 290227 followers
ageofaquaria has 1756166 followers
missshugacain has 358822 followers
scarletenvy has 454125 followers
honeydavenportofficial has 120190 followers
thebritafilter has 155008 followers
thenickydoll has 612735 followers
jackiecoxnyc has 599575 followers
sherrypienyc has 53621 followers
janjanjan has 503040 followers

In [46]:
ny_insta.head()

         handle_instagram  follower_count
0                     NaN               0
1             pandoraboxx          358029
2             manilaluzon         1503122
3             mimiimfurst           62617
4  jigglycalienteofficial          179762

In [47]:
ny_insta.sort_values("follower_count", ascending=False).head()

   handle_instagram  follower_count
17      sashavelour         1842453
24     ageofaquaria         1756166
2       manilaluzon         1503122
15  bobthedragqueen         1486873
20      miz_cracker         1185585